$lighting: #fff;
$darkened: #000;
$base: #69cb6c;
$baseActive: #00c17a;
$baseImportantly: #ff7eb5;
$gradientFooter: linear-gradient(90deg, rgba(0, 192, 122, 1) 0%, rgba(58, 199, 112, 1) 50%, rgba(105, 203, 107, 1) 100%);
$vignetting: #949494;
$gray: #a3a3a3;
$liteGray: #f6f6f6;
$darkGray: #5b5b5b;
