$deepLight: #fff;
$deepDark: #000;
$base: #69cb6c;
$baseActive: #00c17a;
$baseInverted : #ff7eb5;
$baseGradient: linear-gradient(90deg, rgba(0, 192, 122, 1) 0%, rgba(58, 199, 112, 1) 50%, rgba(105, 203, 107, 1) 100%);
$gray: #a3a3a3;
$lightingGray: #f6f6f6;
$liteGray: #949494;
$darkGray: #5b5b5b;
